{% extends "base.html" %}


{% block scripts %}
    {{ super() }}
    <!-- Start of Swagger custom style. Should be before /body which is why its in scripts -->
    <link rel="stylesheet" href="{{ base_url }}/stylesheets/theme-outline.css" />
    <!-- End of  Swagger custom style -->
{% endblock %}

{% block extrahead %}

    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{% for toc_item in page.toc %} | {{ toc_item.title }} | {% for toc_item in toc_item.children %}  {{ toc_item.title }}.   {% endfor %}  {% endfor %}" />
    <meta property="og:image" content="https://docs.run.ai/home/img/RUNAI-LOGO-DIGITAL-2C_BP.png"/> 

{% endblock %}

{% block footer %}

{% endblock %}
