{% extends "base.html" %}

{% block libs %}
    {{ super() }}
    <!-- Start of runai Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=10c42c25-a684-4ac3-b45f-c9c03276af95"> </script>
    <!-- End of runai Zendesk Widget script -->
    
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- Start of Swagger custom style. Should be before /body which is why its in scripts -->
    <link rel="stylesheet" href="{{ base_url }}/stylesheets/theme-outline.css" />
    <!-- End of  Swagger custom style -->
{% endblock %}

{% block footer %}

{% endblock %}
